<p style="color:red">
{{ error }}
</p>

<p>
<form action="/" method="get">
  Enter a document URL: <input type="text" name="doc" size=50> <input type="submit" value="Submit">

</form>
</p>

<p></p>

<p>
  <a href=https://github.com/jonocodes/pwder/#parameters>How to use PWDer</a>
</p>
