<p style="color:red">
{{ error }}
</p>

<p>
<form action="/" method="get">
  Enter a document URL: <input type="text" name="doc" size=50> <input type="submit" value="Submit">

</form>
</p>

<p></p>

<p>
  <a href=https://github.com/jonocodes/pwder/#parameters>How to use PWDer</a>
</p>

<p></p>

<p>
<b>Examples</b>

<ul>
<li><a href=/?doc=https://raw.githubusercontent.com/jonocodes/pwder/master/examples/hello.md>/?doc=https://raw.githubusercontent.com/jonocodes/pwder/master/examples/hello.md</a></li>

<li><a href=/gh/jonocodes/pwder/master/examples/nginx.md>/gh/jonocodes/pwder/master/examples/nginx.md</a></li>
</ul>

</p>
